# **Fetch using PySpark**

In [1]:
import requests
import os
import pandas as pd
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from bs4 import BeautifulSoup

**Hit a Google search for data analyst jobs, open the LinkedIn result in new tab, copy the URL and follow next steps:**

In [2]:
job_url = "https://www.linkedin.com/jobs/search?keywords=Data%20Analyst&location=&geoId=&trk=public_jobs_jobs-search-bar_search-submit&position=1&pageNum=0"
souped = requests.get(job_url)  # '.get()' returns HTML content in jumbled form
job_html = BeautifulSoup(souped.content, "html.parser")  # formatting the HTML content

# Fetching the job titles (job positions)
job_list = []
job_titles = job_html.find_all('h3', {'class' : 'base-search-card__title'}) # finding all <H3> html tags of specified class
for i in job_titles: job_list.append(i.getText().strip()) # 'getText()' returns text content of <H3> tag; 'strip()' crops leading/lagging spaces

# Fetching name of the company offering each job
job_company = []
company_name = job_html.find_all('h4', {'class' : 'base-search-card__subtitle'})
for i in company_name: job_company.append(i.getText().strip())

# Fetch job location
job_location = []
location = job_html.find_all('span', {'class' : 'job-search-card__location'})
for i in location: job_location.append(i.getText().strip())

# Recency of job posting
job_recency = []
recency1 = job_html.find_all('time', {'class' : 'job-search-card__listdate--new'})
recency2 = job_html.find_all('time', {'class' : 'job-search-card__listdate'})
for i in recency1: job_recency.append(i.getText().strip())
for i in recency2: job_recency.append(i.getText().strip())

In [3]:
# Create a spark session

spark = SparkSession.builder.appName('LinkedInJobFetch').getOrCreate()

In [4]:
data = {'Job_Title' : job_list,
        'Company' : job_company,
        'Location' : job_location,
        'Job_Recency' : job_recency }

col_headings = list(data.keys())    # This will be used later to assign col headings

spark_data = list(zip(*data.values()))
spark_df = spark.createDataFrame(spark_data)  # Creating Spark dataframe

# spark_df.show(n = spark_df.count(), truncate=False)

csv_path = '/content/spark_linkedin_jobs'  # Saving file in Colab's local storage in a dedicated folder

if os.path.exists(csv_path):   # If path exists
    spark_df.write.csv(csv_path, mode = "append", header = False)  # Append new data EXCLUDING header row
    print(f"Data APPENDED to {csv_path}")
else:
    spark_df.write.csv(csv_path, mode = "overwrite", header = False)  # At first-time write, INCLUDE header columns
    print(f"Data SAVED to {csv_path}")  # Printed ONLY ON FIRST RUN of this cell; next run onward, 'print' in above 'if' runs

Data SAVED to /content/spark_linkedin_jobs

In [5]:
from pyspark.sql.types import StructType, StructField, StringType

# Define column headers' schema
col_schema = StructType([
    StructField(col_headings[0], StringType(), True),
    StructField(col_headings[1], StringType(), True),
    StructField(col_headings[2], StringType(), True),
    StructField(col_headings[3], StringType(), True) ])

# Reading the content of 'spark_linkedin_jobs.csv'
r = spark.read.csv('/content/spark_linkedin_jobs', schema = col_schema, multiLine = True)

r.dropDuplicates() # Remove duplicate rows

r.show(n = r.count(), truncate=False)  # 'r.count()' returns the total no. of rows

+-------------------------------------------+--------------------------------------+-------------------------------+------------+
|Job_Title                                  |Company                               |Location                       |Job_Recency |
+-------------------------------------------+--------------------------------------+-------------------------------+------------+
|Data Analyst, Finance & Strategy, MarComms |Netflix                               |Los Angeles, CA                |17 hours ago|
|Data Analyst                               |KFC                                   |Plano, TX                      |8 hours ago |
|Analyst, Insights & Analytics              |LoopMe                                |New York, NY                   |19 hours ago|
|Data Analyst                               |CULT GAIA                             |Los Angeles Metropolitan Area  |1 week ago  |
|Data Analyst                               |Zest AI                               |Burbank, CA                    |4 days ago  |
|Data Analyst                               |Cloudflare                            |Austin, TX                     |2 weeks ago |
|Data Analyst                               |Kforce Inc                            |New York, NY                   |3 days ago  |
|Data Analyst, Pricing                      |Lyft                                  |Seattle, WA                    |1 week ago  |
|Data Analyst                               |Upstart                               |United States                  |1 week ago  |
|Data Analyst                               |Birlasoft                             |Charlotte, NC                  |1 week ago  |
|Data Analyst                               |Cloudflare                            |Dallas, TX                     |1 week ago  |
|Analyst, Analytics                         |Toyota North America                  |Plano, TX                      |1 week ago  |
|Data Analyst                               |Memorial Sloan Kettering Cancer Center|New York, NY                   |2 weeks ago |
|Sales Data Analyst                         |Morgan Stanley                        |Boston, MA                     |1 week ago  |
|Data Analyst Intern 2025                   |Voloridge Investment Management, LLC  |Jupiter, FL                    |5 days ago  |
|Data Analyst                               |Cloudflare                            |Houston, TX                    |2 weeks ago |
|Data Analyst                               |Radiant Digital                       |Brooklyn, NY                   |2 weeks ago |
|Data Analyst                               |Synapticure                           |Chicago, IL                    |1 week ago  |
|Data Analyst I                             |Protingent                            |Charlotte, NC                  |4 weeks ago |
|Data Analyst                               |Healthcasts Media                     |New York City Metropolitan Area|6 days ago  |
|Data Analyst - Power BI, SQL, & Python     |Insight Global                        |Charlotte Metro                |6 days ago  |
|Data Analyst                               |QSC                                   |United States                  |1 week ago  |
|Junior Data Analyst (contingent)           |ARETUM                                |Washington, DC                 |1 week ago  |
|Data Analyst                               |Cloudflare                            |San Antonio, TX                |3 days ago  |
|Senior Data Analyst (NY Hybrid)            |Experian                              |New York, NY                   |1 week ago  |
|Data Analyst  (251934)                     |Eastridge Workforce Solutions         |New York, NY                   |1 week ago  |
|Business Data Analyst                      |Mirion                                |Atlanta, GA                    |6 days ago  |
|Data Analyst                               |Korn Ferry                            |California, United States      |1 week ago  |
|Data Analyst                               |Advize                                |United States                  |4 days ago  |
|Data Analyst                               |Korn Ferry                            |Washington DC-Baltimore Area   |2 weeks ago |
|Data Analyst                               |Counterpart                           |United States                  |4 days ago  |
|Data Analyst - (SQL / Looker - 100% Remote)|Optomi                                |New Jersey, United States      |1 week ago  |
|Data Analyst                               |Cloud and Things                      |United States                  |1 week ago  |
|Data Analyst                               |Medterra                              |United States                  |1 week ago  |
|Data Analyst                               |Dexian                                |Tampa, FL                      |4 days ago  |
|Data Analyst                               |Korn Ferry                            |Florida, United States         |1 week ago  |
|Data Analyst                               |Tata Consultancy Services             |Irving, TX                     |4 days ago  |
|Data Analyst                               |YunoJuno                              |United States                  |1 week ago  |
|Data Analyst                               |Bamboo Insurance                      |United States                  |1 week ago  |
|Data Analyst                               |Elder Research                        |Arlington, VA                  |6 days ago  |
|Data Analyst                               |Korn Ferry                            |Georgia, United States         |1 week ago  |
|Data Analyst - Marketing                   |FanDuel                               |New York, NY                   |4 days ago  |
|Analyst II, Data and Insights              |Herbalife                             |Torrance, CA                   |3 days ago  |
|Data Analyst                               |Korn Ferry                            |Virginia, United States        |1 week ago  |
|Junior Data Analyst                        |Sesheng                               |United States                  |4 days ago  |
|Data Analyst                               |Akkodis                               |United States                  |2 days ago  |
|Business Data Analyst                      |Volt                                  |Sparks, NV                     |2 weeks ago |
|Data Analyst                               |Numero Data                           |Herndon, VA                    |2 weeks ago |
|Data Analyst                               |MGT                                   |Tinley Park, IL                |1 week ago  |
|Data Analyst                               |PRI Global                            |United States                  |4 days ago  |
|Senior Data Analyst                        |CyberCoders                           |Normal, IL                     |2 weeks ago |
|Data Analyst                               |The Cypress Group                     |New York City Metropolitan Area|1 week ago  |
|Data Analyst                               |IT Labs                               |United States                  |1 week ago  |
|Data Analyst                               |Planet Interactive                    |San Francisco, CA              |1 week ago  |
|Data Analyst                               |Korn Ferry                            |Delaware, United States        |4 days ago  |
|Data Analysts                              |AutoRoboto                            |Mountain View, CA              |1 week ago  |
|Data Analyst                               |Flexton Inc.                          |Cincinnati Metropolitan Area   |3 days ago  |
|Data Analyst                               |Korn Ferry                            |Arkansas, United States        |4 days ago  |
|Data Analyst                               |Korn Ferry                            |Connecticut, United States     |4 days ago  |
|Data Analyst                               |Korn Ferry                            |Idaho, United States           |4 days ago  |
+-------------------------------------------+--------------------------------------+-------------------------------+------------+

In [6]:
r.count()

60

**The first run is done (until the above cell). Now let us run the above code again to get next results of jobs and see what changes. We'll run all BUT the spark session creation cell above, again:**

In [7]:
job_url = "https://www.linkedin.com/jobs/search?keywords=Data%20Analyst&location=&geoId=&trk=public_jobs_jobs-search-bar_search-submit&position=1&pageNum=0"
souped = requests.get(job_url)  # '.get()' returns HTML content in jumbled form
job_html = BeautifulSoup(souped.content, "html.parser")  # formatting the HTML content

#Fetching the job titles (job positions)
job_list = []
job_titles = job_html.find_all('h3', {'class' : 'base-search-card__title'}) # finding all <H3> html tags of specified class
for i in job_titles: job_list.append(i.getText().strip()) # 'getText()' returns text content of <H3> tag; 'strip()' crops leading/lagging spaces

#Fetching name of the company offering each job
job_company = []
company_name = job_html.find_all('h4', {'class' : 'base-search-card__subtitle'})
for i in company_name: job_company.append(i.getText().strip())

#Fetch job location
job_location = []
location = job_html.find_all('span', {'class' : 'job-search-card__location'})
for i in location: job_location.append(i.getText().strip())

#Recency of job posting
job_recency = []
recency1 = job_html.find_all('time', {'class' : 'job-search-card__listdate--new'})
recency2 = job_html.find_all('time', {'class' : 'job-search-card__listdate'})
for i in recency1: job_recency.append(i.getText().strip())
for i in recency2: job_recency.append(i.getText().strip())

**Pay attention to the next cell's run; note which** ```print``` **runs here (tally with that in first run above).**

In [8]:
csv_path = '/content/spark_linkedin_jobs'  # Saving file in Colab's local storage in a dedicated folder

data.clear() # Clearing any previous content of dictionary 'data'

data = {'Job_Title' : job_list,
        'Company' : job_company,
        'Location' : job_location,
        'Job_Recency' : job_recency }

spark_data = list(zip(*data.values()))
spark_df = spark.createDataFrame(spark_data)  # Creating Spark dataframe

# spark_df.show(n = spark_df.count(), truncate=False)

if os.path.exists(csv_path):   # If path exists
    spark_df.write.csv(csv_path, mode = "append", header = False)  # Append new data EXCLUDING header columns
    print(f"Data APPENDED to {csv_path}")
else:
    spark_df.write.csv(csv_path, mode = "overwrite", header = False)  # At first-time write, INCLUDE header columns
    print(f"Data SAVED to {csv_path}")  # Printed ONLY ON FIRST RUN of this cell; next run onward, 'print' in above 'if' runs

Data APPENDED to /content/spark_linkedin_jobs

**Reading the content again:**

In [9]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

# Define schema
col_schema = StructType([
    StructField(col_headings[0], StringType(), True),
    StructField(col_headings[1], StringType(), True),
    StructField(col_headings[2], StringType(), True),
    StructField(col_headings[3], StringType(), True)
])

# Reading the content of 'spark_linkedin_jobs.csv'
r = spark.read.csv('/content/spark_linkedin_jobs', schema = col_schema, multiLine = True)

# r.toDF(*col_headings)
r.dropDuplicates()  # Remove duplicate rows

r.show(n = r.count(), truncate=False)  # 'r.count()' returns the total no. of rows

+-------------------------------------------+--------------------------------------+-------------------------------+------------+
|Job_Title                                  |Company                               |Location                       |Job_Recency |
+-------------------------------------------+--------------------------------------+-------------------------------+------------+
|Data Analyst, Finance & Strategy, MarComms |Netflix                               |Los Angeles, CA                |17 hours ago|
|Data Analyst                               |KFC                                   |Plano, TX                      |8 hours ago |
|Analyst, Insights & Analytics              |LoopMe                                |New York, NY                   |19 hours ago|
|Data Analyst                               |CULT GAIA                             |Los Angeles Metropolitan Area  |1 week ago  |
|Data Analyst                               |Zest AI                               |Burbank, CA                    |4 days ago  |
|Data Analyst                               |Cloudflare                            |Austin, TX                     |2 weeks ago |
|Data Analyst                               |Kforce Inc                            |New York, NY                   |3 days ago  |
|Data Analyst, Pricing                      |Lyft                                  |Seattle, WA                    |1 week ago  |
|Data Analyst                               |Upstart                               |United States                  |1 week ago  |
|Data Analyst                               |Birlasoft                             |Charlotte, NC                  |1 week ago  |
|Data Analyst                               |Cloudflare                            |Dallas, TX                     |1 week ago  |
|Analyst, Analytics                         |Toyota North America                  |Plano, TX                      |1 week ago  |
|Data Analyst                               |Memorial Sloan Kettering Cancer Center|New York, NY                   |2 weeks ago |
|Sales Data Analyst                         |Morgan Stanley                        |Boston, MA                     |1 week ago  |
|Data Analyst Intern 2025                   |Voloridge Investment Management, LLC  |Jupiter, FL                    |5 days ago  |
|Data Analyst                               |Cloudflare                            |Houston, TX                    |2 weeks ago |
|Data Analyst                               |Radiant Digital                       |Brooklyn, NY                   |2 weeks ago |
|Data Analyst                               |Synapticure                           |Chicago, IL                    |1 week ago  |
|Data Analyst I                             |Protingent                            |Charlotte, NC                  |4 weeks ago |
|Data Analyst                               |Healthcasts Media                     |New York City Metropolitan Area|6 days ago  |
|Data Analyst - Power BI, SQL, & Python     |Insight Global                        |Charlotte Metro                |6 days ago  |
|Data Analyst                               |QSC                                   |United States                  |1 week ago  |
|Junior Data Analyst (contingent)           |ARETUM                                |Washington, DC                 |1 week ago  |
|Data Analyst                               |Cloudflare                            |San Antonio, TX                |3 days ago  |
|Senior Data Analyst (NY Hybrid)            |Experian                              |New York, NY                   |1 week ago  |
|Data Analyst  (251934)                     |Eastridge Workforce Solutions         |New York, NY                   |1 week ago  |
|Business Data Analyst                      |Mirion                                |Atlanta, GA                    |6 days ago  |
|Data Analyst                               |Korn Ferry                            |California, United States      |1 week ago  |
|Data Analyst                               |Advize                                |United States                  |4 days ago  |
|Data Analyst                               |Korn Ferry                            |Washington DC-Baltimore Area   |2 weeks ago |
|Data Analyst, Finance & Strategy, MarComms |Netflix                               |Los Angeles, CA                |17 hours ago|
|Data Analyst II                            |The Hershey Company                   |Hershey, PA                    |8 hours ago |
|Data Analyst                               |KFC                                   |Plano, TX                      |19 hours ago|
|Data Analyst                               |CULT GAIA                             |Los Angeles Metropolitan Area  |1 week ago  |
|Data Analyst                               |Zest AI                               |Burbank, CA                    |2 weeks ago |
|Data Analyst                               |Cloudflare                            |Austin, TX                     |4 days ago  |
|Data Analyst                               |Kforce Inc                            |New York, NY                   |3 days ago  |
|Data Analyst, Pricing                      |Lyft                                  |Seattle, WA                    |1 week ago  |
|Data Analyst                               |Upstart                               |United States                  |1 week ago  |
|Data Analyst                               |Birlasoft                             |Charlotte, NC                  |1 week ago  |
|Data Analyst                               |Cloudflare                            |Dallas, TX                     |1 week ago  |
|Analyst, Analytics                         |Toyota North America                  |Plano, TX                      |1 week ago  |
|Data Analyst                               |Memorial Sloan Kettering Cancer Center|New York, NY                   |2 weeks ago |
|Sales Data Analyst                         |Morgan Stanley                        |Boston, MA                     |1 week ago  |
|Data Analyst                               |Cloudflare                            |Houston, TX                    |5 days ago  |
|Data Analyst                               |Radiant Digital                       |Brooklyn, NY                   |2 weeks ago |
|Data Analyst                               |CoralTree Hospitality                 |Englewood, CO                  |1 week ago  |
|Data Analyst                               |Synapticure                           |Chicago, IL                    |4 days ago  |
|Data Analyst I                             |Protingent                            |Charlotte, NC                  |4 weeks ago |
|Data Analyst                               |PrudentRx                             |Tampa, FL                      |6 days ago  |
|Data Analyst                               |Healthcasts Media                     |New York City Metropolitan Area|1 month ago |
|Data Analyst - Power BI, SQL, & Python     |Insight Global                        |Charlotte Metro                |6 days ago  |
|Data Analyst                               |QSC                                   |United States                  |1 week ago  |
|Junior Data Analyst (contingent)           |ARETUM                                |Washington, DC                 |1 week ago  |
|Data Analyst                               |Cloudflare                            |San Antonio, TX                |3 days ago  |
|Senior Data Analyst (NY Hybrid)            |Experian                              |New York, NY                   |1 week ago  |
|Data Analyst  (251934)                     |Eastridge Workforce Solutions         |New York, NY                   |1 week ago  |
|Business Data Analyst                      |Mirion                                |Atlanta, GA                    |6 days ago  |
|Data Analyst                               |Korn Ferry                            |California, United States      |1 week ago  |
|Data Analyst                               |Korn Ferry                            |Washington DC-Baltimore Area   |4 days ago  |
|Data Analyst                               |Counterpart                           |United States                  |4 days ago  |
|Data Analyst - (SQL / Looker - 100% Remote)|Optomi                                |New Jersey, United States      |1 week ago  |
|Data Analyst                               |Cloud and Things                      |United States                  |1 week ago  |
|Data Analyst                               |Medterra                              |United States                  |1 week ago  |
|Data Analyst                               |Dexian                                |Tampa, FL                      |4 days ago  |
|Data Analyst                               |Korn Ferry                            |Florida, United States         |1 week ago  |
|Data Analyst                               |Tata Consultancy Services             |Irving, TX                     |4 days ago  |
|Data Analyst                               |YunoJuno                              |United States                  |1 week ago  |
|Data Analyst                               |Bamboo Insurance                      |United States                  |1 week ago  |
|Data Analyst                               |Elder Research                        |Arlington, VA                  |6 days ago  |
|Data Analyst                               |Korn Ferry                            |Georgia, United States         |1 week ago  |
|Data Analyst - Marketing                   |FanDuel                               |New York, NY                   |4 days ago  |
|Analyst II, Data and Insights              |Herbalife                             |Torrance, CA                   |4 days ago  |
|Data Analyst                               |Korn Ferry                            |Virginia, United States        |1 week ago  |
|Junior Data Analyst                        |Sesheng                               |United States                  |4 days ago  |
|Business Data Analyst                      |Volt                                  |Sparks, NV                     |2 days ago  |
|Data Analyst                               |Numero Data                           |Herndon, VA                    |2 weeks ago |
|Data Analyst                               |MGT                                   |Tinley Park, IL                |1 week ago  |
|Data Analyst                               |PRI Global                            |United States                  |4 days ago  |
|Senior Data Analyst                        |CyberCoders                           |Normal, IL                     |2 weeks ago |
|Data Analyst                               |The Cypress Group                     |New York City Metropolitan Area|1 week ago  |
|Data Analyst                               |IT Labs                               |United States                  |1 week ago  |
|Data Analyst                               |Planet Interactive                    |San Francisco, CA              |1 week ago  |
|Data Analyst                               |Korn Ferry                            |Delaware, United States        |4 days ago  |
|Data Analysts                              |AutoRoboto                            |Mountain View, CA              |1 week ago  |
|Data Analyst                               |Flexton Inc.                          |Cincinnati Metropolitan Area   |3 days ago  |
|Data Analyst                               |Korn Ferry                            |Arkansas, United States        |4 days ago  |
|Data Analyst                               |Korn Ferry                            |Connecticut, United States     |4 days ago  |
|Data Analyst                               |Korn Ferry                            |Idaho, United States           |4 days ago  |
|Data Analyst - Epidemiology                |ImageTrend                            |United States                  |2 weeks ago |
|Data Analyst                               |Counterpart                           |United States                  |4 days ago  |
|Data Analyst - (SQL / Looker - 100% Remote)|Optomi                                |New Jersey, United States      |1 week ago  |
|Data Analyst                               |Cloud and Things                      |United States                  |1 week ago  |
|Data Analyst                               |Medterra                              |United States                  |1 week ago  |
|Data Analyst                               |Dexian                                |Tampa, FL                      |4 days ago  |
|Data Analyst                               |Korn Ferry                            |Florida, United States         |1 week ago  |
|Data Analyst                               |Tata Consultancy Services             |Irving, TX                     |4 days ago  |
|Data Analyst                               |YunoJuno                              |United States                  |1 week ago  |
|Data Analyst                               |Bamboo Insurance                      |United States                  |1 week ago  |
|Data Analyst                               |Elder Research                        |Arlington, VA                  |6 days ago  |
|Data Analyst                               |Korn Ferry                            |Georgia, United States         |1 week ago  |
|Data Analyst - Marketing                   |FanDuel                               |New York, NY                   |4 days ago  |
|Analyst II, Data and Insights              |Herbalife                             |Torrance, CA                   |3 days ago  |
|Data Analyst                               |Korn Ferry                            |Virginia, United States        |1 week ago  |
|Junior Data Analyst                        |Sesheng                               |United States                  |4 days ago  |
|Data Analyst                               |Akkodis                               |United States                  |2 days ago  |
|Business Data Analyst                      |Volt                                  |Sparks, NV                     |2 weeks ago |
|Data Analyst                               |Numero Data                           |Herndon, VA                    |2 weeks ago |
|Data Analyst                               |MGT                                   |Tinley Park, IL                |1 week ago  |
|Data Analyst                               |PRI Global                            |United States                  |4 days ago  |
|Senior Data Analyst                        |CyberCoders                           |Normal, IL                     |2 weeks ago |
|Data Analyst                               |The Cypress Group                     |New York City Metropolitan Area|1 week ago  |
|Data Analyst                               |IT Labs                               |United States                  |1 week ago  |
|Data Analyst                               |Planet Interactive                    |San Francisco, CA              |1 week ago  |
|Data Analyst                               |Korn Ferry                            |Delaware, United States        |4 days ago  |
|Data Analysts                              |AutoRoboto                            |Mountain View, CA              |1 week ago  |
|Data Analyst                               |Flexton Inc.                          |Cincinnati Metropolitan Area   |3 days ago  |
|Data Analyst                               |Korn Ferry                            |Arkansas, United States        |4 days ago  |
|Data Analyst                               |Korn Ferry                            |Connecticut, United States     |4 days ago  |
|Data Analyst                               |Korn Ferry                            |Idaho, United States           |4 days ago  |
+-------------------------------------------+--------------------------------------+-------------------------------+------------+

In [10]:
r.count()  # In first-run, count was 60; changed value indicates new data has been added

120

In [11]:
spark.stop() # Stop session to free resources

In [12]:
!rm -rf /content/spark_linkedin_jobs/  # Erase folder as the demonstration task is completed

# **Fetching using pandas**

In [69]:
from bs4 import BeautifulSoup
import requests, pandas as pd

# job_url = 'https://www.linkedin.com/jobs/data-analyst-jobs-pune/?currentJobId=3783699912&originalSubdomain=in'
job_url = "https://www.linkedin.com/jobs/search?keywords=Data%20Analyst&location=&geoId=&trk=public_jobs_jobs-search-bar_search-submit&position=1&pageNum=0"
souped = requests.get(job_url)

job_html = BeautifulSoup(souped.content, "html.parser")

#Fetch job titles (job positions)
job_titles = job_html.find_all('h3', {'class' : 'base-search-card__title'})
job_list = []
for i in job_titles: job_list.append(i.getText().strip())

#Fetch name of the company offering each job
company_name = job_html.find_all('h4', {'class' : 'base-search-card__subtitle'})
job_company = []
for i in company_name: job_company.append(i.getText().strip())

#Fetch job location
location = job_html.find_all('span', {'class' : 'job-search-card__location'})
job_location = []
for i in location: job_location.append(i.getText().strip())

#Recency of job posting
recency1 = job_html.find_all('time', {'class' : 'job-search-card__listdate--new'})
recency2 = job_html.find_all('time', {'class' : 'job-search-card__listdate'})
job_recency = []
for i in recency1: job_recency.append(i.getText().strip())
for i in recency2: job_recency.append(i.getText().strip())

#creating dataframe to store fetched job details
data = {'Job_Title' : job_list, 'Company' : job_company, 'Location' : job_location, 'Job_Recency' : job_recency}
pd_df = pd.DataFrame(data)

# Following block sends fetched job details to a CSV file

try:
    existing_df = pd.read_csv('pd_linkedin_jobs.csv')  # Try to read an existing CSV file
    updated_df = pd.concat([existing_df, pd_df], ignore_index = True)   # Append the new data to the existing DataFrame
    updated_df.to_csv('pd_linkedin_jobs.csv', index = False)    # Save the updated DataFrame back to the CSV file
    print(f"Data appended to {'pd_linkedin_jobs.csv'}")
except FileNotFoundError:
    pd_df.to_csv('pd_linkedin_jobs.csv', index = False)   # If the CSV file does not exist, create a new one
    print(f"Data saved to a new CSV file: {'pd_linkedin_jobs.csv'}")  # prints when data is fetch first ever time

Data saved to a new CSV file: pd_linkedin_jobs.csv

In [70]:
# Reading the saved 'pd_linkedin_jobs.csv' file
read_data = pd.read_csv('pd_linkedin_jobs.csv')
pd.set_option('display.max_rows', None)
read_data  # o/p showing 180 records as each run fetches 60 records and the above cell was run twice so it's appended same data

,Job_Title,Company,Location,Job_Recency
0,Data Analyst,KFC,"Plano, TX",12 hours ago
1,Data Analyst,Zest AI,"Burbank, CA",3 hours ago
2,"Data Analyst, Finance & Strategy, MarComms",Netflix,"Los Angeles, CA",1 hour ago
3,Data Analyst II,The Hershey Company,"Hershey, PA",15 hours ago
4,Data Analyst,Upstart,United States,4 days ago
5,Data Analyst,CULT GAIA,Los Angeles Metropolitan Area,1 week ago
6,Data Analyst,Korn Ferry,"California, United States",1 week ago
7,"Data Analyst, Pricing",Lyft,"Seattle, WA",2 weeks ago
8,Data Analyst,Korn Ferry,"Connecticut, United States",1 week ago
9,Data Analyst,Cloudflare,"Austin, TX",3 days ago
10,Data Analyst,Kforce Inc,"New York, NY",4 days ago
11,Data Analyst,Korn Ferry,"Virginia, United States",1 week ago
12,Data Analyst,Korn Ferry,"Georgia, United States",4 days ago
13,Data Analyst,Korn Ferry,Washington DC-Baltimore Area,1 week ago
14,Data Analyst,CoralTree Hospitality,"Englewood, CO",1 week ago
15,Data Analyst,Korn Ferry,"Florida, United States",4 days ago
16,Data Analyst,Memorial Sloan Kettering Cancer Center,"New York, NY",4 days ago
17,Data Analyst,Birlasoft,"Charlotte, NC",4 days ago
18,Data Analyst,Numero Data,"Herndon, VA",4 days ago
19,Data Analyst,Korn Ferry,"Delaware, United States",4 days ago
20,Data Analyst,Medterra,United States,2 weeks ago
21,Junior Data Analyst,Sesheng,United States,1 week ago
22,Data Analyst,IDB Bank,"New York, NY",4 days ago
23,"Analyst, Analytics",Toyota North America,"Plano, TX",4 days ago
24,Data Analyst,Cloudflare,"Dallas, TX",2 days ago
25,Data Analyst,Korn Ferry,"Arkansas, United States",3 days ago
26,Data Analyst,Synergis,United States,5 days ago
27,Data Analyst,Korn Ferry,"Idaho, United States",1 week ago
28,Data Analyst,PrudentRx,"Tampa, FL",4 days ago
29,Sales Data Analyst,Morgan Stanley,"Boston, MA",4 days ago
30,Data Analyst,Bamboo Insurance,United States,4 days ago
31,Data Analyst,Korn Ferry,"Indiana, United States",1 month ago
32,Data Analyst - Marketing,FanDuel,"New York, NY",2 weeks ago
33,Data Analyst,Fynora Ai,New York City Metropolitan Area,6 days ago
34,Data Analyst,Korn Ferry,"Oklahoma, United States",4 days ago
35,Data Analyst,Cloudflare,"Houston, TX",3 days ago
36,Data Analyst,Korn Ferry,"Alabama, United States",1 day ago
37,"Staff Data Analyst, Compliance",Upstart,United States,4 days ago
38,Data Analyst - (SQL / Looker - 100% Remote),Optomi,"New Jersey, United States",1 week ago
39,Data Analyst,Radiant Digital,"Brooklyn, NY",4 days ago
40,Master Data Analyst,Paradies Lagardère,Atlanta Metropolitan Area,1 week ago
41,Data Analyst - 100% Remote,Lensa,"Jacksonville, FL",1 week ago
42,Junior Data Analyst,Seneca Resources,"Atlanta, GA",1 week ago
43,Data Analyst,Synapticure,"Chicago, IL",6 days ago
44,JR Data Analyst,Accroid Inc,"Philadelphia, PA",4 weeks ago
45,Data Analyst,Healthcasts Media,New York City Metropolitan Area,5 days ago
46,"Data Analyst - Power BI, SQL, & Python",Insight Global,Charlotte Metro,6 days ago
47,Data Analyst,TPI Global Solutions,United States,1 week ago
48,Data Analyst,Lemonade,"New York, NY",3 days ago
49,Data Analyst,White Oak Partners LLC,"Durham, NC",3 days ago
50,Data Analyst,QSC,United States,6 days ago
51,Junior Data Analyst (contingent),ARETUM,"Washington, DC",1 week ago
52,Data Analysts,AutoRoboto,"Mountain View, CA",3 days ago
53,Data Analyst,Cloudflare,"San Antonio, TX",1 week ago
54,Senior Data Analyst (NY Hybrid),Experian,"New York, NY",1 week ago
55,Data Analyst,Planet Interactive,"San Francisco, CA",1 week ago
56,Data Analyst (251934),Eastridge Workforce Solutions,"New York, NY",6 days ago
57,Data Analyst,Flexton Inc.,Cincinnati Metropolitan Area,3 days ago
58,Data Analyst,Insight Global,Atlanta Metropolitan Area,3 days ago
59,Business Data Analyst,Mirion,"Atlanta, GA",1 week ago

**Now, let us run the code again. We find that the output shows:** ```Data appended to pd_linkedin_jobs.csv
``` **whereas in the previous run (FIRST run) above, output shows** ```Data saved to a new CSV file: pd_linkedin_jobs.csv```.

In [71]:
from bs4 import BeautifulSoup
import requests, pandas as pd

# job_url = 'https://www.linkedin.com/jobs/data-analyst-jobs-pune/?currentJobId=3783699912&originalSubdomain=in'
job_url = "https://www.linkedin.com/jobs/search?keywords=Data%20Analyst&location=&geoId=&trk=public_jobs_jobs-search-bar_search-submit&position=1&pageNum=0"
souped = requests.get(job_url)

job_html = BeautifulSoup(souped.content, "html.parser")

#Fetch job titles (job positions)
job_titles = job_html.find_all('h3', {'class' : 'base-search-card__title'})
job_list = []
for i in job_titles: job_list.append(i.getText().strip())

#Fetch name of the company offering each job
company_name = job_html.find_all('h4', {'class' : 'base-search-card__subtitle'})
job_company = []
for i in company_name: job_company.append(i.getText().strip())

#Fetch job location
location = job_html.find_all('span', {'class' : 'job-search-card__location'})
job_location = []
for i in location: job_location.append(i.getText().strip())

#Recency of job posting
recency1 = job_html.find_all('time', {'class' : 'job-search-card__listdate--new'})
recency2 = job_html.find_all('time', {'class' : 'job-search-card__listdate'})
job_recency = []
for i in recency1: job_recency.append(i.getText().strip())
for i in recency2: job_recency.append(i.getText().strip())

#creating dataframe to store fetched job details
data = {'Job_Title' : job_list, 'Company' : job_company, 'Location' : job_location, 'Job_Recency' : job_recency}
pd_df = pd.DataFrame(data)

# Following block sends fetched job details to a CSV file

try:
    existing_df = pd.read_csv('pd_linkedin_jobs.csv')  # Try to read an existing CSV file
    updated_df = pd.concat([existing_df, pd_df], ignore_index = True)   # Append the new data to the existing DataFrame
    updated_df.to_csv('pd_linkedin_jobs.csv', index = False)    # Save the updated DataFrame back to the CSV file
    print(f"Data appended to {'pd_linkedin_jobs.csv'}")
except FileNotFoundError:
    pd_df.to_csv('pd_linkedin_jobs.csv', index = False)   # If the CSV file does not exist, create a new one
    print(f"Data saved to a new CSV file: {'pd_linkedin_jobs.csv'}")  # prints when data is fetch first ever time

Data appended to pd_linkedin_jobs.csv

**Now, if we read the CSV data again, it will show 120 records as we have run the code twice so far and each run is getting 60 records from LinkedIn.**

In [72]:
# Reading the saved 'pd_linkedin_jobs.csv' file
read_data = pd.read_csv('pd_linkedin_jobs.csv')
pd.set_option('display.max_rows', None)
read_data

,Job_Title,Company,Location,Job_Recency
0,Data Analyst,KFC,"Plano, TX",12 hours ago
1,Data Analyst,Zest AI,"Burbank, CA",3 hours ago
2,"Data Analyst, Finance & Strategy, MarComms",Netflix,"Los Angeles, CA",1 hour ago
3,Data Analyst II,The Hershey Company,"Hershey, PA",15 hours ago
4,Data Analyst,Upstart,United States,4 days ago
5,Data Analyst,CULT GAIA,Los Angeles Metropolitan Area,1 week ago
6,Data Analyst,Korn Ferry,"California, United States",1 week ago
7,"Data Analyst, Pricing",Lyft,"Seattle, WA",2 weeks ago
8,Data Analyst,Korn Ferry,"Connecticut, United States",1 week ago
9,Data Analyst,Cloudflare,"Austin, TX",3 days ago
10,Data Analyst,Kforce Inc,"New York, NY",4 days ago
11,Data Analyst,Korn Ferry,"Virginia, United States",1 week ago
12,Data Analyst,Korn Ferry,"Georgia, United States",4 days ago
13,Data Analyst,Korn Ferry,Washington DC-Baltimore Area,1 week ago
14,Data Analyst,CoralTree Hospitality,"Englewood, CO",1 week ago
15,Data Analyst,Korn Ferry,"Florida, United States",4 days ago
16,Data Analyst,Memorial Sloan Kettering Cancer Center,"New York, NY",4 days ago
17,Data Analyst,Birlasoft,"Charlotte, NC",4 days ago
18,Data Analyst,Numero Data,"Herndon, VA",4 days ago
19,Data Analyst,Korn Ferry,"Delaware, United States",4 days ago
20,Data Analyst,Medterra,United States,2 weeks ago
21,Junior Data Analyst,Sesheng,United States,1 week ago
22,Data Analyst,IDB Bank,"New York, NY",4 days ago
23,"Analyst, Analytics",Toyota North America,"Plano, TX",4 days ago
24,Data Analyst,Cloudflare,"Dallas, TX",2 days ago
25,Data Analyst,Korn Ferry,"Arkansas, United States",3 days ago
26,Data Analyst,Synergis,United States,5 days ago
27,Data Analyst,Korn Ferry,"Idaho, United States",1 week ago
28,Data Analyst,PrudentRx,"Tampa, FL",4 days ago
29,Sales Data Analyst,Morgan Stanley,"Boston, MA",4 days ago
30,Data Analyst,Bamboo Insurance,United States,4 days ago
31,Data Analyst,Korn Ferry,"Indiana, United States",1 month ago
32,Data Analyst - Marketing,FanDuel,"New York, NY",2 weeks ago
33,Data Analyst,Fynora Ai,New York City Metropolitan Area,6 days ago
34,Data Analyst,Korn Ferry,"Oklahoma, United States",4 days ago
35,Data Analyst,Cloudflare,"Houston, TX",3 days ago
36,Data Analyst,Korn Ferry,"Alabama, United States",1 day ago
37,"Staff Data Analyst, Compliance",Upstart,United States,4 days ago
38,Data Analyst - (SQL / Looker - 100% Remote),Optomi,"New Jersey, United States",1 week ago
39,Data Analyst,Radiant Digital,"Brooklyn, NY",4 days ago
40,Master Data Analyst,Paradies Lagardère,Atlanta Metropolitan Area,1 week ago
41,Data Analyst - 100% Remote,Lensa,"Jacksonville, FL",1 week ago
42,Junior Data Analyst,Seneca Resources,"Atlanta, GA",1 week ago
43,Data Analyst,Synapticure,"Chicago, IL",6 days ago
44,JR Data Analyst,Accroid Inc,"Philadelphia, PA",4 weeks ago
45,Data Analyst,Healthcasts Media,New York City Metropolitan Area,5 days ago
46,"Data Analyst - Power BI, SQL, & Python",Insight Global,Charlotte Metro,6 days ago
47,Data Analyst,TPI Global Solutions,United States,1 week ago
48,Data Analyst,Lemonade,"New York, NY",3 days ago
49,Data Analyst,White Oak Partners LLC,"Durham, NC",3 days ago
50,Data Analyst,QSC,United States,6 days ago
51,Junior Data Analyst (contingent),ARETUM,"Washington, DC",1 week ago
52,Data Analysts,AutoRoboto,"Mountain View, CA",3 days ago
53,Data Analyst,Cloudflare,"San Antonio, TX",1 week ago
54,Senior Data Analyst (NY Hybrid),Experian,"New York, NY",1 week ago
55,Data Analyst,Planet Interactive,"San Francisco, CA",1 week ago
56,Data Analyst (251934),Eastridge Workforce Solutions,"New York, NY",6 days ago
57,Data Analyst,Flexton Inc.,Cincinnati Metropolitan Area,3 days ago
58,Data Analyst,Insight Global,Atlanta Metropolitan Area,3 days ago
59,Business Data Analyst,Mirion,"Atlanta, GA",1 week ago
60,"Data Analyst, Finance & Strategy, MarComms",Netflix,"Los Angeles, CA",12 hours ago
61,Data Analyst II,The Hershey Company,"Hershey, PA",3 hours ago
62,Data Analyst,KFC,"Plano, TX",15 hours ago
63,Data Analyst,CULT GAIA,Los Angeles Metropolitan Area,1 week ago
64,Data Analyst,Zest AI,"Burbank, CA",2 weeks ago
65,"Data Analyst, Pricing",Lyft,"Seattle, WA",4 days ago
66,Data Analyst,Cloudflare,"Austin, TX",3 days ago
67,Data Analyst,Kforce Inc,"New York, NY",1 week ago
68,Data Analyst,Upstart,United States,1 week ago
69,Data Analyst,Birlasoft,"Charlotte, NC",1 week ago
70,Data Analyst,Cloudflare,"Dallas, TX",1 week ago
71,"Analyst, Analytics",Toyota North America,"Plano, TX",1 week ago
72,Data Analyst,Memorial Sloan Kettering Cancer Center,"New York, NY",2 weeks ago
73,Sales Data Analyst,Morgan Stanley,"Boston, MA",1 week ago
74,Data Analyst,Cloudflare,"Houston, TX",5 days ago
75,Data Analyst,Radiant Digital,"Brooklyn, NY",2 weeks ago
76,Data Analyst,CoralTree Hospitality,"Englewood, CO",1 week ago
77,Data Analyst,Synapticure,"Chicago, IL",4 days ago
78,Data Analyst I,Protingent,"Charlotte, NC",4 weeks ago
79,Data Analyst,PrudentRx,"Tampa, FL",6 days ago
80,Data Analyst,Healthcasts Media,New York City Metropolitan Area,1 month ago
81,"Data Analyst - Power BI, SQL, & Python",Insight Global,Charlotte Metro,6 days ago
82,Data Analyst,QSC,United States,1 week ago
83,Junior Data Analyst (contingent),ARETUM,"Washington, DC",1 week ago
84,Data Analyst,Cloudflare,"San Antonio, TX",3 days ago
85,Senior Data Analyst (NY Hybrid),Experian,"New York, NY",1 week ago
86,Data Analyst (251934),Eastridge Workforce Solutions,"New York, NY",1 week ago
87,Business Data Analyst,Mirion,"Atlanta, GA",6 days ago
88,Data Analyst,Korn Ferry,"California, United States",1 week ago
89,Data Analyst,Korn Ferry,Washington DC-Baltimore Area,4 days ago
90,Data Analyst,Counterpart,United States,4 days ago
91,Data Analyst - (SQL / Looker - 100% Remote),Optomi,"New Jersey, United States",1 week ago
92,Data Analyst,Cloud and Things,United States,1 week ago
93,Data Analyst,Medterra,United States,1 week ago
94,Data Analyst,Dexian,"Tampa, FL",4 days ago
95,Data Analyst,Korn Ferry,"Florida, United States",1 week ago
96,Data Analyst,Tata Consultancy Services,"Irving, TX",4 days ago
97,Data Analyst,YunoJuno,United States,1 week ago
98,Data Analyst,Bamboo Insurance,United States,1 week ago
99,Data Analyst,Elder Research,"Arlington, VA",6 days ago
100,Data Analyst,Korn Ferry,"Georgia, United States",1 week ago
101,Data Analyst - Marketing,FanDuel,"New York, NY",4 days ago
102,"Analyst II, Data and Insights",Herbalife,"Torrance, CA",3 days ago
103,Data Analyst,Korn Ferry,"Virginia, United States",1 week ago
104,Junior Data Analyst,Sesheng,United States,4 days ago
105,Business Data Analyst,Volt,"Sparks, NV",2 days ago
106,Data Analyst,Numero Data,"Herndon, VA",2 weeks ago
107,Data Analyst,MGT,"Tinley Park, IL",1 week ago
108,Senior Data Analyst,CyberCoders,"Normal, IL",4 days ago
109,Data Analyst,PRI Global,United States,1 week ago
110,Data Analyst,The Cypress Group,New York City Metropolitan Area,1 week ago
111,Data Analyst,Korn Ferry,"Delaware, United States",1 week ago
112,Data Analysts,AutoRoboto,"Mountain View, CA",4 days ago
113,Data Analyst,Planet Interactive,"San Francisco, CA",1 week ago
114,Data Analyst,Korn Ferry,"Connecticut, United States",4 days ago
115,Data Analyst,Flexton Inc.,Cincinnati Metropolitan Area,3 days ago
116,Data Analyst,Korn Ferry,"Arkansas, United States",4 days ago
117,Data Analyst,Korn Ferry,"Idaho, United States",4 days ago
118,Data Analyst - Epidemiology,ImageTrend,United States,2 weeks ago
119,Sr. Data Analyst (E-commerce),UpRecruit,"Phoenix, AZ",1 week ago

# Shell commands for force deleting Colab folders/files


```
!rm -rf /content/folderName/            # -rf for recursive force (delete all folder content & the folder itself)
!rm -f /content/fileName.fileFormat     # -f for single file
```

e.g.
```
# !rm -rf /content/spark_linkedin_jobs.csv/  

# !rm -f /content/pd_linkedin_jobs.csv  
```